html,body,header,.view{
	height: 100%;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	color: #008b8b;
}

.top-nav-collapse{
	background-color: #008b8b;
}

.view{
	background: url(area.jpg) no-repeat center;
	background-size: cover;
}